//font
$font_open_sans: 'Open Sans', sans-serif;
$font_freestyle: 'freestyle';

//color
$color_dark: #000;
$color_white: #fff;
$color_white2: #f2f2f2;
$color_red: #FF0004;
$color_blue: #5b6ceb;
$color_blue2: #5363d8;
$color_blue3: #b7bffc;
$color_blue4: #5363db;
$color_gray: #888888;
$color_gray2: #777;
$color_gray3: #555555;
$color_gray4: #999;



